stages:
  - build
  - test
  - release

cache:
  paths:
  - apt-cache/

### build & test dependencies
.dep-linux-deps: &dep-linux-deps
  tags:
    - linux

.dep-linux: &dep-linux
  <<: *dep-linux-deps
  image: jfinkhaeuser/gitlab-ci-cpp-meson

.dep-android: &dep-android
  <<: *dep-linux-deps
  image: jfinkhaeuser/gitlab-ci-android-ndk

### build

.build-linux: &build-linux
  <<: *dep-linux
  stage: build
  script:
    - mkdir build
    - cd build
    - CXX=${compiler} CXXFLAGS="${ci_cxx_flags}" meson -Db_coverage=${coverage:=false} ..
    - ninja
  artifacts:
    name: build
    expire_in: 1 week
    paths:
      - build/

build:clang:
  <<: *build-linux
  variables:
    compiler: clang++

build:gcc:
  <<: *build-linux
  variables:
    compiler: g++
    # FIXME coverage: "true"

build:gcc-i386:
  <<: *build-linux
  variables:
    compiler: g++
    ci_cxx_flags: -m32

.build-android: &build-android
  <<: *dep-android
  stage: build
  script:
    - mkdir build
    - cd build
    - CXX=${compiler} CXXFLAGS="${ci_cxx_flags}" meson -Db_coverage=${coverage:=false} --cross-file /meson/cross-files/android-${androidabi}.txt ..
    - ninja
  artifacts:
    name: build
    expire_in: 1 week
    paths:
      - build/

build:android-arm64-v8a:
  <<: *build-android
  stage: build
  variables:
    androidabi: arm64-v8a

build:android-armeabi-v7a:
  <<: *build-android
  stage: build
  variables:
    androidabi: armeabi-v7a

build:android-x86:
  <<: *build-android
  stage: build
  variables:
    androidabi: x86

build:android-x86_64:
  <<: *build-android
  stage: build
  variables:
    androidabi: x86_64

### test

.test-linux: &test-linux
  <<: *dep-linux
  script:
    - cd build
    - ./test/private_tests --gtest_output=xml:test/private_tests-log.xml 2>test/private_tests-debug.log
    - ./test/public_tests --gtest_output=xml:test/public_tests-log.xml 2>test/public_tests-debug.log
    - if test "${coverage:=false}" == true ; then ninja coverage && cat meson-logs/coverage.txt ; fi
  artifacts:
    name: lib_test_and_logs
    expire_in: 1 week
    when: always
    paths:
      - build/libpacketeer.*
      - build/test/private_tests
      - build/test/private_tests-debug.log
      - build/test/private_tests-log.xml
      - build/test/public_tests
      - build/test/public_tests-debug.log
      - build/test/public_tests-log.xml
      - build/meson-logs/coverage*
    reports:
      junit:
        - build/test/private_tests-log.xml
        - build/test/public_tests-log.xml

test:clang:
  <<: *test-linux
  stage: test
  needs:
    - build:clang

test:gcc:
  <<: *test-linux
  stage: test
  needs:
    - build:gcc
  # FIXME
  # variables:
  #   coverage: "true"
  # coverage: /^TOTAL.*\s+(\d+\%)$/

test:gcc-i386:
  <<: *test-linux
  stage: test
  needs:
    - build:gcc-i386


### distribution
release:
  <<: *dep-linux
  stage: release
  script:
    - cd build
    - ninja dist
  needs:
    - build:gcc
  artifacts:
    name: release
    paths:
      - build/meson-dist/packeteer-*.tar.*
  only:
    - tags
