cache:
  paths:
  - apt-cache/

### build & test dependencies
.dep-linux: &dep-linux
  image: debian
  tags:
    - linux
  before_script:
    - apt-get -o dir::cache::archives="apt-cache" update
    - >
      apt-get -o dir::cache::archives="apt-cache" install -y
      ninja-build python3 python3-pip clang gcc gcc-multilib g++-multilib
      gcovr lcov
    - pip3 install meson


### build

.build-linux: &build-linux
  <<: *dep-linux
  stage: build
  script:
    - mkdir build
    - cd build
    - CXX=${compiler} CXXFLAGS="${ci_cxx_flags}" meson -Db_coverage=${coverage:=false} ..
    - ninja
  artifacts:
    paths:
      - build/

build:clang:
  <<: *build-linux
  variables:
    compiler: clang++

build:gcc:
  <<: *build-linux
  variables:
    compiler: g++
    coverage: "true"

build:gcc-i386:
  <<: *build-linux
  variables:
    compiler: g++
    ci_cxx_flags: -m32

### test

.test-linux: &test-linux
  <<: *dep-linux
  script:
    - cd build
    - ./testsuite --gtest_output=xml:testsuite-log.xml 2>testsuite-debug.log
    - if test "${coverage:=false}" == true ; then ninja coverage && cat meson-logs/coverage.txt ; fi
  artifacts:
    when: always
    paths:
      - build/libpacketeer.*
      - build/testsuite
      - build/testsuite-debug.log
      - build/testsuite-log.xml
      - build/meson-logs/coverage*
    reports:
      junit: build/testsuite-log.xml

test:clang:
  <<: *test-linux
  image: debian
  stage: test
  needs:
    - build:clang

test:gcc:
  <<: *test-linux
  image: debian
  stage: test
  needs:
    - build:gcc
  variables:
    coverage: "true"
  coverage: /^TOTAL.*\s+(\d+\%)$/

test:gcc-i386:
  <<: *test-linux
  image: debian
  stage: test
  needs:
    - build:gcc-i386
