stages:
  - build
  - test
#  - test:gcc
#  - test:gcc-i386
#  - test:clang-macOS
#  - test:clang-freebsd

cache:
  paths:
  - apt-cache/

.build-template: &build-template
  stage: build
  before_script:
    - apt-get -o dir::cache::archives="apt-cache" update
    - apt-get -o dir::cache::archives="apt-cache" install -y ninja-build python3 python3-pip clang gcc
    - pip3 install meson
  script:
    - mkdir build
    - cd build
    - CXX=$compiler CXXFLAGS="$ci_cxx_flags" meson ..
    - ninja
  artifacts:
    paths:
      - build/libpacketeer.*
      - build/testsuite

build:clang:
  <<: *build-template
  image: debian
  tags:
    - linux
  variables:
    compiler: clang++
    os_name: Linux

build:gcc:
  <<: *build-template
  image: debian
  tags:
    - linux
  variables:
    compiler: g++
    os_name: Linux

build:gcc-i386:
  <<: *build-template
  image: debian
  tags:
    - linux
  variables:
    compiler: g++
    os_name: i386
    ci_cxx_flags: -m32

#build:clang-freebsd:
#  <<: *build-template
#  tags:
#    - freebsd
#  variables:
#    compiler: /usr/bin/clang++
#    os_name: FreeBSD

#build:clang-macOS:
#  <<: *build-template
#  tags:
#    - macOS
#  variables:
#    compiler: /usr/bin/clang++
#    os_name: Darwin


#build:mxe:
#  <<: *build-template
#  tags:
#    - mingw
#  variables:
#    compiler: /mxe/usr/bin/i686-w64-mingw32.static.posix-g++
#    os_name: win32

.test-linux: &test-linux
  stage: test
  tags:
    - linux
  before_script:
    - dpkg --add-architecture i386
    - apt-get -o dir::cache::archives="apt-cache" update
    - apt-get -o dir::cache::archives="apt-cache" install -y g++-multilib
  script:
    - ./testsuite

test:clang:
  <<: *test-linux
  stage: test
  dependencies:
    - build:clang

test:gcc:
  <<: *test-linux
  stage: test
  dependencies:
    - build:gcc

test:gcc-i386:
  <<: *test-linux
  stage: test
  dependencies:
    - build:gcc-i386

#test:clang-freebsd:
#  stage: test:clang-freebsd
#  dependencies:
#    - build:clang-freebsd
#  tags:
#    - freebsd
#  script:
#    - ./testsuite
#
#test:clang-macOS:
#  stage: test:clang-macOS
#  dependencies:
#    - build:clang-macOS
#  tags:
#    - macOS
#  script:
#    - ./testsuite
